.laravel-todobar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100vh;
  z-index: 1;
}

.laravel-todobar .laravel-todobar-container {
  display: none;
  height: 100vh;
  flex-direction: column;
}

html.todobar-active .laravel-todobar .laravel-todobar-container {
  display: flex;
}

.laravel-todobar-handle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 57px;
  background: #ff2d20;
  font-weight: bold;
  left: -36px;
  padding: 9px;
  border-radius: 5px 0 0 5px;
  box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

html.todobar-active .laravel-todobar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20vw;
  padding: 0px;
  background: white;
  border: 1px solid #ddd;
  border-color: #343a40;
  box-shadow: -2px 0 2px -1px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1440px) {
  html.todobar-active .laravel-todobar {
    width: 30vw;
  }
}

@media screen and (max-width: 1200px) {
  html.todobar-active .laravel-todobar {
    width: 40vw;
  }
}

@media screen and (max-width: 992px) {
  html.todobar-active .laravel-todobar {
    width: 40vw;
  }
}

@media screen and (max-width: 767px) {
  html.todobar-active .laravel-todobar {
    width: 60vw;
  }
}

@media screen and (max-width: 576px) {
  html.todobar-active .laravel-todobar {
    width: 87vw;
  }
}

html.todobar-active body.laravel-todobar-split {
  width: 80%;
}

.laravel-todobar .todobar-projects-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background: #fcfcfd;
  background: #343a40;
}

.laravel-todobar .todobar-projects-select {
  padding: 5px;
  margin-left: 4px;
  flex: 1;
}

.laravel-todobar .todobar-projects-container button {
  margin-left: 2px;
}

.laravel-todobar .laravel-todobar-content {
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 56.8px);
}

.laravel-todobar .laravel-todobar-form {
  flex: 0;
  padding: 15px;
  background: #fcfcfd;
  background: #343a40;
  border-bottom: 1px solid #ddd;
  border-color: #343a40;
}

.laravel-todobar .laravel-todobar-content h3 {
  background: #eee;
  padding: 15px;
  border-top: 1px solid #dde;
  border-bottom: 1px solid #dde;
  margin-bottom: 0;
  flex: 0;
  background: #464b51;
  border-color: #343a40;

  color: white;
  border-color: #343a40;
}

.laravel-todobar ul.laravel-todobar-list {
  list-style-type: none;
  padding: 0;
  line-height: 1.5;
  overflow-y: scroll;
  flex: 1;
  margin-bottom: 0;
  background: #343a40;
  color: #eee;
}

.laravel-todobar ul.laravel-todobar-list li {
  padding: 15px;
  border-bottom: 1px solid #dde;
  border-color: #343a40;
  background: #343a40;
  color: #eee;
}

.laravel-todobar ul.laravel-todobar-list li input:checked + label .label-content {
  color: slategray;
  text-decoration: line-through;
  text-decoration-color: slategray;
}

.laravel-todobar ul.laravel-todobar-list li.custom-checkbox-odd {
  background: #f9f9f9;
  background: #464b51;
}

.laravel-todobar .laravel-todobar-loader {
  background: rgba(0, 0, 0, 0.7) no-repeat 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.laravel-todobar ul.laravel-todobar-list li .form-group,
.laravel-todobar ul.laravel-todobar-list li .form-group label {
  margin-bottom: 0;
}

.laravel-todobar ul.laravel-todobar-list li .form-group input[type="checkbox"] {
  display: none;
}

.laravel-todobar ul.laravel-todobar-list li .form-group .checkbox-dummy {
  background: white;
  color: white;
  border: 1px solid #aaa;
  width: 20px;
  height: 20px;
  transform: translateY(100%) translateX(-30px);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #565b61;
}

.laravel-todobar ul.laravel-todobar-list li input:checked + label .checkbox-dummy {
  background: green;
}

.laravel-todobar ul.laravel-todobar-list li label {
  display: block;
  padding-left: 30px;
  margin-top: -20px;
}

.laravel-todobar-edit-modal .modal-content {
    border-radius: calc(0.3rem + 2.6px);
}

.laravel-todobar-edit-modal .modal-body {
  background: #40464b;
}

.laravel-todobar-edit-modal .modal-header {
  background: #2d3032;
  border-bottom: 1px solid #2a2c2e;
}

.laravel-todobar-edit-modal .modal-header button.close span {
    text-shadow: 0 1px 0 #000;
    color: #eee;
}

.laravel-todobar-edit-modal .modal-title {
  color: #ccc;
}

.laravel-todobar-edit-modal .modal-footer {
  background: #2d3032;
  border-top: 1px solid #2a2c2e;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
